<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="style/style.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.14.1/lodash.min.js"></script>
        <script src="js/vue.js"></script>
        
    </head>
    <body>
        <div id="root" @submit.prevent="addNewTask">
            <form id="addTask-form">
                <textarea id="taskName-txt" placeholder="Enter the Task Name..." v-model="currentName"></textarea>
                <button type="submit" id="addTask-btn">Add task</button>
                <button type="button" id="clear-btn" @click="clearField">Clear</button>

            </form>
            <transition-group name="task-container" tag="ul" id="Tasks-container">
                <li
                    :style="evaluateColor(index)"  
                    v-for="(task,index) in tasks" 
                    :key="index"
                    class="task-container" 
                    :class="{'task-container--selected' : (task === selectedTask)}"
                >
                    {{task.taskName}}
                    <div>
                        <i class="fa fa-arrow-up" aria-hidden="true"  v-show="index!=0" @click="decreasePriority(task,index)"></i>
                        <i class="fa fa-arrow-down" aria-hidden="true" style="color: aqua;" v-show="index!=tasks.length-1" @click="increasePriority(task,index)"> </i>
                    </div>    
                </li>
            </transition-group>
        </div>    
        <script src="js/AddTask.js"></script>
    </body>
 
</html>
